# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Virtual environments
venv/
.venv/
venv-mac/
.venv-mac/
env/
ENV/
.env/

# Conda
.conda/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# Python distribution/build
build/
dist/
*.egg-info/

# Logs
*.log

# Temporary files
*.tmp

.agents/